{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer">
  <div class="footer-bg">
    <div class="shipping-types-wrapper">
    <div class="container">
      <div class="shipping-types row">
        <div class="col-md-3 col-xs-3 col-3">
    <div class="shipping-type">
    <div class="shipping-type--icon">
      <img  src="{{'free-shipping.png' | asset_url }}" height="initial" width="initial" alt="Picture of Free Shipping" title="Picture of Free Shipping" class="loading" data-was-processed="true">
    </div>
    <div class="shipping-type--info">
      <h3 class="shipping-type--title">Free Shipping</h3>
      <div class="shipping-type--desc">
        <p>Free Shipping for orders over $150</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3 col-xs-3 col-3">
  <div class="shipping-type">
    <div class="shipping-type--icon">
      <img src="{{'30-days-return-policy.png' | asset_url }}" height="initial" width="initial" alt="Picture of Money Guarantee" title="Picture of Money Guarantee" class="loading" data-was-processed="true">
    </div>
    <div class="shipping-type--info">
      <h3 class="shipping-type--title">Money Guarantee</h3>
      <div class="shipping-type--desc">
        <p>Within 30 days for an exchange</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3 col-xs-3 col-3">
  <div class="shipping-type">
    <div class="shipping-type--icon"><img src="{{'support-24-7.png' | asset_url }}" height="initial" width="initial" alt="Picture of Online Support" title="Picture of Online Support" class="loading" data-was-processed="true"></div>
    <div class="shipping-type--info"><h3 class="shipping-type--title">Online Support</h3>
    <div class="shipping-type--desc"><p>24 hours a day, 7 days a week</p></div>
  </div>
</div>
</div>
<div class="col-md-3 col-xs-3 col-3">
  <div class="shipping-type">
    <div class="shipping-type--icon">
      <img  src="{{'flexible-payment.png' | asset_url }}" height="initial" width="initial" alt="Picture of Flexible Payment" title="Picture of Flexible Payment" class="loading" data-was-processed="true">
    </div>
      <div class="shipping-type--info"><h3 class="shipping-type--title">Flexible Payment</h3>
      <div class="shipping-type--desc">
        <p>Pay with Multiple Credit Cards</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="footer-bg-inner">
  <div class="footer-upper">
    <div class="footer-block follow-us">
      <div class="title plus">
        <strong>Contact us</strong>
      </div>
      <ul class="list"><li class="contact-us-details"><p>your company country, state, zip, street, etc</p>
      <div>
        </div>
        <div style="line-height:1.5">Email : test@mail.com</div>
        <div style="line-height:1.5">Phone : +8801719304086</div>
      </li>
      <li class="social">
        <div class="title">
          <strong>Follow us</strong>
    </div>
    <ul class="networks">
      <li class="facebook">
        <a href="https://www.facebook.com/nopCommerce" target="_blank" rel="noopener noreferrer">Facebook</a>
      </li>
      <li class="youtube"><a href="https://www.youtube.com/user/nopCommerce" target="_blank" rel="noopener noreferrer">YouTube</a>
    </li>
    <li class="instagram"><a href="https://www.instagram.com/nopcommerce_official" target="_blank" rel="noopener noreferrer">Instagram</a>
  </li>
  <li class="twitter"><a href="https://twitter.com/nopCommerce" target="_blank" rel="noopener noreferrer">Twitter</a></li>
  <li class="linkedin"><a href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
  <li class="pinterest"><a href="#" target="_blank" rel="noopener noreferrer">Pinterest</a></li>
  <li class="rss"><a href="/news/rss/1">RSS</a></li>
</ul>
</li>
</ul>
</div>
<div class="footer-block information">
  <div class="title plus"><strong>Information</strong></div>
  <ul class="list"><li><a href="/sitemap">Sitemap</a></li><li><a href="/shipping-returns">Shipping &amp; returns</a></li><li><a href="/privacy-notice">Privacy notice</a></li><li><a href="/conditions-of-use">Conditions of Use</a></li><li><a href="/about-us">About us</a></li><li><a href="/contactus">Contact us</a></li></ul></div><div class="footer-block customer-service"><div class="title plus"><strong>Customer service</strong></div><ul class="list"><li><a href="/search">Search</a></li><li><a href="/news">News</a></li><li><a href="/blog">Blog</a></li><li><a href="/recentlyviewedproducts">Recently viewed products</a></li><li><a href="/compareproducts">Compare products list</a></li><li><a href="/newproducts">New products</a></li></ul></div><div class="footer-block my-account"><div class="title plus"><strong>My account</strong></div><ul class="list"><li><a href="/customer/info">My account</a></li><li><a href="/order/history">Orders</a></li><li><a href="/customer/addresses">Addresses</a></li><li><a href="/cart">Shopping cart</a></li><li><a href="/wishlist">Wishlist</a></li><li><a href="/vendor/apply">Apply for vendor account</a></li></ul></div></div></div></div>
  <div class="footer-logo-bg">
    <div class="footer-logo-container"><img src="{{ 'logo.png' | asset_url }}" height="initial" width="initial" alt="Logo of Your store name" title="Logo of Your store name" class="footer-logo"><div class="footer-cards"><div class="footer-info"><img src="{{ 'footer-cards.png' | asset_url }}" height="initial" width="initial" alt="Supported cards" title="Supported cards"></div></div></div></div>
    <div class="footer-lower-bg">
      <div class="footer-lower">
          <div class="footer-info">
            <span class="footer-disclaimer">Copyright © 2025 Your store name. All rights reserved.</span>
          </div>
          <div class="footer-info">
            <div class="footer-powered-by">Designed By <img alt="Designed by nopStation" title="Designed by nopStation" src="{{ 'designed_by_nopStation.png' | asset_url }}" width="89" height="17">
            </div>
          </div>
        </div>
      </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
